# ==============================
# Python
# ==============================

Python/.venv/
Python/**/__pycache__/
Python/**/*.py[cod]
Python/.pytest_cache/


# ==============================
# C# / .NET
# ==============================

CSharp/bin/
CSharp/obj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo


# ==============================
# Java
# ==============================

Java/**/*.class

# Maven
Java/target/

# Gradle
Java/.gradle/
Java/build/


# ==============================
# PHP
# ==============================

PHP/vendor/


# ==============================
# IDEs / Editors
# ==============================

.idea/
.vscode/

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Logs
# ==============================

*.log